/* Importar los estilos de Angular Material */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Estilos adicionales */
.responsive-table {
  width: 100%;
  overflow-x: auto;
}

.mat-header-cell, .mat-cell {
  border-bottom: 1px solid #ddd; /* Línea de separación entre filas */
  padding: 8px 16px; /* Espaciado adecuado */
}

.mat-header-cell {
  background-color: #f5f5f5; /* Fondo más claro para el encabezado */
  font-weight: bold; /* Poner los títulos en negrita */
  font-size: 1.1em; /* Aumentar el tamaño de los títulos */
}

@media (max-width: 768px) {
  .responsive-search {
    display: flex;
    flex-direction: column;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
}

/* Botones de búsqueda */
.light-gray-button {
  background-color: #D3D3D3; /* Gris claro */
  color: black;
  margin-right: 8px; /* Espacio horizontal entre los botones */
  margin-bottom: 8px; /* Espacio vertical entre los botones */
}

.dark-blue-button {
  background-color: #1E3A8A; /* Azul más fuerte */
  color: white;
  margin-right: 8px; /* Espacio horizontal entre los botones */
  margin-bottom: 8px; /* Espacio vertical entre los botones */
}

.blue-button {
  background-color: #5B9BD5; /* Azul más claro */
  color: white;
  margin-right: 8px; /* Espacio horizontal entre los botones */
  margin-bottom: 8px; /* Espacio vertical entre los botones */
}

.blue-button mat-icon {
  color: white;
}

/* Botón de limpiar */
.gray-button {
  background-color: #D3D3D3; /* Gris claro */
  color: black;
  margin-right: 8px; /* Espacio horizontal entre los botones */
  margin-bottom: 8px; /* Espacio vertical entre los botones */
}

/* Botones de acción en la tabla */
.edit-button {
  background-color: #5B9BD5; /* Azul más claro */
  color: white;
  margin-right: 8px; /* Espacio horizontal entre los botones */
}

.delete-button {
  background-color: #F28B82; /* Rojo claro */
  color: white;
  margin-right: 8px; /* Espacio horizontal entre los botones */
}

/* Estilos para los campos de entrada en Búsqueda Avanzada */
.advanced-search-fields mat-form-field {
  border: 1px solid #ddd; /* Borde para diferenciar los campos de entrada */
  border-radius: 4px; /* Bordes redondeados */
  padding: 8px; /* Espaciado interno */
  background-color: #fff; /* Fondo blanco */
  width: calc(100% / 5 - 16px); /* Ajustar el ancho para que quepan en una línea */
  box-sizing: border-box; /* Incluye el padding y borde en el ancho total */
}


.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2; /* Cambiado a gris claro */
  color: black; /* Cambiar el color del texto a negro */
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo,
.toolbar #youtube-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}
